<h1>All Users</h1>

<div class="list-group">
  <% @users.each do |user| %>
    <a href='<%= user_path user.id %>' class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= "#{user.first_name} #{user.last_name}" %></h5>
        <small><%= "admin" if user.admin? %></small>
      </div>
      <p class="mb-1"><%= user.email %></p>
    </a>
  <% end %>
</div>
