<h1 class='mb-4'>BarHop</h1>
<p>Welcome to BarHop!</p>
<p>Use the search bar up the top to help decide the ideal place for your next night out.</p>
<p>BarHop will return up to 20 results per search.</p>
<p>Typing in a suburb or city alone will work, but being precise helps to narrow down the search. So consider typing in the suburbs state as well as a street name to search for bars around particular neighbourhoods.</p>
<p>Here are two examples of a good query:</p>
<p class='text-center mb-0'><em>Fitzroy, Victoria</em></p>
<p class='text-center my-0'>or</p>
<p class='text-center'><em>Brunswick Street, Fitzroy, Victoria</em></p>
<p>The latter query is more precise than the former, but more importantly they both elimate the possibility of searching for bars around Fitzroy, South Adelaide by simply adding in "Victoria".</p>
<p>I hope you enjoy my app!</p>
<h3>Cheers!</h3>
